.postcardcontainer {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  left: 100px;
  color: rgb(34,34,34);
  border-bottom-width: 1px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 6px #ccc;
  margin-left: 20px;
  margin-bottom: 20px;
}

.image {
  width: 300px;
  height: 225px;
  border-radius: 5px;
}

.title:hover {
  color: purple;
  text-decoration: underline;
}

.price {
    font-size: 12px;
    font-weight: 400;
    background-color: #fff;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
    position: absolute;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    margin: 0;
  }