.projectDiv {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  margin-left: 120px;
  
}

.headers {
  position: relative;
  left: 50px;
  top: 10px;
  max-width: 70vw;
}

.mainDiv {
  background: dimgray;
  height: 55vw;
  width: 98.9vw;
}

.name {
  margin: 0px;
}