.header {
  width: 100%;
  height: 45px;
  background-color: #383838;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
}


.links {
  margin-left: auto;
  margin-right: 20px;
  display: flex;
}

.buttonLink {
  font-weight: 400;
  font-size: 16px;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  text-decoration-line: underline;
  padding: 0px;
}

.slogan {
  padding-left: 10px;
}

.buttonLink:hover {
  box-shadow: 0 0 0px 0 #00000026;
  cursor: pointer;
}

.icon {
  position: relative;
  top: 2px;
  left: 10px;
  height: 23px;
  width: 26px;
}

.icon:hover {
  height: 25px;
  width: 28px;
}


.About {
  margin-left: 25px;
}